{% extends "base.html" %}

{% block content %}

<h1>Signup</h1>

<form action="/welcome" method='POST'>
    <label>
        Username:
        {% if usererror %}
        {{ usererror }}
        {% endif %}
        <input type="text" name="username" value="{{ request.form['username'] }}" />
    </label>
    <br>
    <label>
        Password:
        {% if nopasserror %}
        {{ nopasserror }}
        {% endif %}
        <input type="password" name="password" />
    </label>
    <br>
    <label>
        Verify Password:
        {% if passerror %}
        {{ passerror }}
        {% endif %}  
        <input type="password" name="passwordverify" />
    </label>
    <br>
    <label>
        Email(Optional):
        <input type="email" name="email" value="{{ request.form['email'] }}" />
    </label>
    <input type="submit" value="Submit" />
</form>

{% endblock %}